@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

.font{
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
}

h1{
    font-size: 2em!important;
}
.bg-login{ 
    background: #7a57d1;   
    height: 100vh;
}

.login{
    width: 500px;
    margin-top: 8vh;
    padding: 3rem;
    border-radius: 12px;
}

.alerta-vermelho{
    background-color: #EF5B5B;
    color: #FFF;
    padding: .5em 1em;
    border-radius: 6px;
    
}

.btn-roxo{
    background-color: #7a57d1;
    color: #FFF;
}

.btn-roxo:hover{
    background-color:#6238c9;
    color:#FFF;
}

.text-roxo{
    color: #7a57d1;
}

.label{
    color: #351e6d;
    font-weight: 900;
    text-transform: uppercase;
    font-size: .8em;
    margin-bottom: 10px;
}

.navbar-roxa{
    background-color: #6238c9;
}

#menu-principal{
    margin-top: 80px;
}
.relatorios-menu:hover{    
    padding: 20px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 12px 0px rgba(52,51,48,0.83); 
    box-shadow: 0px 0px 12px 0px rgba(52,51,48,0.83);
    font-weight: bold;
}
.relatorios-menu{    
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #6238c9;
}

.icone-menu-principal{
    filter: invert(80%) sepia(79%) saturate(3710%) hue-rotate(357deg) brightness(99%) contrast(97%);
    width: 40px;
    height: 40px;
}
.icone-acesso{
    filter: invert(60%) sepia(10%) saturate(449%) hue-rotate(169deg) brightness(89%) contrast(86%);
}

.icone-problemas{
    filter: invert(35%) sepia(100%) saturate(872%) hue-rotate(332deg) brightness(94%) contrast(92%);
    width: 30px;
    height: 30px;
}

.problemas-encontrados{
    margin-bottom: 200px;;
}
.text-problemas{
    color: #E74C3C;
}
.text-amarelo{
   color: #fac807;
}

a{
    text-decoration: none!important;
}

#footer{
    width: 100%;
    background-color: #fef7db;
    display: none;
    
    color: #6238c9;
    padding: 20px 0;

}
#main{
    margin-top: 70px;
    padding-bottom: 100px;
}

.main{
    background-color: #7a57d1;
    padding: 20px;
    color: #FFF; 
    border-radius: 10px;
    
}
.main-produto{
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #6238c9;
}
.btn-amarelo{
    background-color: #fac807;
    color: #351e6d;
    font-weight: bold;
}

.btn-amarelo:hover{
    background-color: #e7bd1a;
    color: #351e6d;
    font-weight: bold;
}


.thead-roxo{
    background-color: #cfc3ef;
    color: #6238c9;
    font-weight: bold;
    border: none;
}

.table{
    border-bottom: 2px solid #6238c9;
}
table tr:first-child th:first-child {
    border-top-left-radius: 6px;
  }
table tr:first-child th:last-child {
    border-top-right-radius: 6px;
}


.btn-verde{
    background-color: #20AB8A;
    color: #FFF;
}

.btn-verde:hover{
    background-color:#177962;
    color:#FFF;
}
.btn-lista{
    border-radius: 100%;
    width: 30px;
    height: 30px;
    margin: 2px;
}
.bg-vermelho, .btn-vermelho{
    background: #EF5B5B;    
}
.btn-vermelho:hover{
    background: #B01111;    
}

.main-produto{
    border-radius: 10px;
    border: 1px solid #6238c9;
}

#meus-produtos{
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 150px;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    width: 95%;
    border-bottom: 5px solid #cfc3ef;
    z-index: 99;
    
}

body{
    scrollbar-color: red;
}


#meus-produtos li a{
    border: 1px solid #ddd; 
    margin-top: -1px; 
    background-color: #f6f6f6; 
    padding: 12px; 
    text-decoration: none; 
    font-size: 18px; 
    color: black; 
    display: block; 
    
}

::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    
  }

  ::-webkit-scrollbar-thumb {
    background: #6238c9; 
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #351e6d; 
  }